body,html{
    height: 100%;
    overflow: hidden;
    margin: 0px;
}

.box{
    display: flex;
    background-color: rgb(50, 49, 48);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.counter-container{
    display: flex;
    width: fit-content;
    border: 4px rgb(73, 71, 66) solid;
    overflow: hidden;
    border-radius: 10px;
}

.button-container{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(171, 166, 159);
}

.button{
    font-family: 'Consolas';
    font-size: 15px;
    border-radius: 10px;
    width: 80px;
}

.green{
    background-color: rgb(159, 227, 159);
}

.red{
    background-color: rgb(227, 136, 111);
}

.outer-container{
    overflow: hidden;
    background-color:rgb(189, 200, 201);
    padding-left: 4px;
    height: 70px;
    border: 2px black solid;
}

.number-container{
    font-family: 'Consolas';
    font-size: 60px;
    width: 0.6em;
    transition: transform;
    transition-duration: 0.2s;
}

.number{
    height: 70px;
}